<body>
    <br><br>
    <h2>Enter Product Details </h2>
    <br>
<div class="container">
<form (ngSubmit) ="onSubmit()">

    <table  width="70%">
       

        <tr>
            <td class="tdata"><label>Product Name</label></td>
            <td><input type="text" name="productName" id="productName" [(ngModel)]="addproduct.productName"/></td>
        </tr>

        <tr>
            <td class="tdata"><label>Product Price</label></td>
            <td><input type="text" name="foodPrice" id="foodPrice" [(ngModel)]="addproduct.productPrice"/></td>
        </tr>

        <tr>
            <td class="tdata"><label>Product Description</label></td>
            <td><input type="text" name="productDescription" id="productDescription" [(ngModel)]="addproduct.productDescription"/></td>
        </tr>

        <tr>
            <td class="tdata"><label>Image URL</label></td>
            <td><input type="text" name="imageUrl" id="imageUrl" [(ngModel)]="addproduct.imageUrl"/></td>
        </tr>

        <tr>
            <td class="tdata"><label>Category Id</label></td>
            <td><input type="text" name="categoryId" id="categoryId" [(ngModel)]="addproduct.categoryId"/></td>
        </tr>
    </table>
    <br><br>
    <button type="submit"  class="btn">Add</button>

    <a routerLink="/display"><button class="btn1">Back</button></a>
 


</form>
<br>
</div>
</body>
