<body>
<section>

  <a class="navbar-brand" href="#">
   <img src="../../assets/logo.png" alt="" width="200px" height="70px">
  </a>
  
  <form   method=" ">
    <div class="imgcontainer">
      
    </div>
  
    <div class="container">
      <label  ><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" [(ngModel)]="model.username"   />
  
      <label  ><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="model.password"  />
          
      <button (click)="loginUser()">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label><br>
      <label>New User ?</label> <a routerLink="/register">Register</a><br>
      <label>Login as Admin! </label> <a routerLink="/user" >Login</a>
    </div>
  
    <div class="container" style="background-color:#F8E9E9">
    </div>
  </form>
</section>
</body>