
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> VIEW </title>
<style>

</style>
</head>
<body class="body">

<form>
<div class="container">


    <a routerLink="/addproduct"><button class="btn3"><b>Add Products</b></button></a><br>
    <a routerLink="/updateproduct"><button class="btn4"><b>Update Products</b></button></a><br>
    <a routerLink="/contents"><button class="btn2"><b>View Products</b></button></a><br>
    <a routerLink=""><button class="btn1"><b>Logout</b></button></a>
    
</div>
</form>
</body>
</html>